<div class="contenedor-tareas">
    <form class="formulario-tarea">
        <h2 class="titulo-formulario">Nueva Tarea</h2>
        
        <div class="grupo-formulario">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" placeholder="Ingrese el título">
        </div>
        
        <div class="grupo-formulario">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" rows="3" placeholder="Describa la tarea"></textarea>
        </div>
        
        <div class="grupo-formulario">
            <label for="fecha-finalizacion">Fecha de Finalización</label>
            <input type="date" id="fecha-finalizacion">
        </div>
        
        <button type="submit" class="boton-primario">Guardar Tarea</button>
    </form>

    <!-- Listado de tareas -->
    <div class="listado-tareas" *ngIf="tasks() && !isLoading()">
        <h2 class="titulo-listado">Tareas Registradas</h2>
        
        <!-- Ejemplo de tarjeta de tarea -->
        <div class="tarjeta-tarea" *ngFor="let task of tasks()">
            <div class="cabecera-tarjeta">
                <h3 class="titulo-tarea">{{task.title}}</h3>
                <span class="fecha-tarea">Fecha: {{task.due_date}}</span>
            </div>
            
            <p class="descripcion-tarea">{{task.description}}.</p>
            
            <div class="estado-tarea">
                <span>Estado:</span>
                <select class="selector-estado">
                <option value="pending">Pendiente</option>
                <option value="in progress">En progreso</option>
                <option value="completed">Completada</option>
                </select>
            </div>
            
            <div class="acciones-tarea">
                <button class="boton-editar">Editar</button>
                <button class="boton-eliminar" (click)="delete(task.id)">Eliminar</button>
            </div>
        </div>
    </div>
</div>