<div class="contenedor-tareas">
    <form class="formulario-tarea" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <h2 class="titulo-formulario">Nueva Tarea</h2>
        
        <div class="grupo-formulario">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" placeholder="Ingrese el título" formControlName="title">
            <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="error-message">
                <span *ngIf="taskForm.get('title')?.errors?.['required']">El campo es requerido</span>
                <span *ngIf="taskForm.get('title')?.errors?.['minlength']">Mínimo 1 carácter</span>
                <span *ngIf="taskForm.get('title')?.errors?.['maxlength']">Máximo 20 caracteres</span>
            </div>
        </div>
        
        <div class="grupo-formulario">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" rows="3" placeholder="Describa la tarea" formControlName="description"></textarea>
            <div *ngIf="taskForm.get('description')?.invalid && taskForm.get('title')?.touched" class="error-message">
                <span *ngIf="taskForm.get('description')?.errors?.['required']">El campo es requerido</span>
                <span *ngIf="taskForm.get('description')?.errors?.['minlength']">Mínimo 1 carácter</span>
                <span *ngIf="taskForm.get('description')?.errors?.['maxlength']">Máximo 90 caracteres</span>
            </div>
        </div>

        <div class="grupo-formulario">
            <label for="persona-encargada">Persona encargada</label>
            <select id="persona-encargada"  formControlName="user_id">
                <option value="">Selecciona a una persona</option>
                <option value="{{user.id}}" *ngFor="let user of users()">{{user.name}} {{user.lastName}}</option>
            </select>
        </div>
        
        <div class="grupo-formulario">
            <label for="fecha-finalizacion">Fecha de Finalización</label>
            <input type="datetime-local" id="fecha-hora" name="fecha-hora" formControlName="due_date">

            <div *ngIf="taskForm.get('description')?.invalid && taskForm.get('title')?.touched" class="error-message">
                <span *ngIf="taskForm.get('description')?.errors?.['required']">El campo es requerido</span>
            </div>
        </div>
        
        <button type="submit" class="boton-primario">Guardar Tarea</button>
    </form>
    

    <!-- Listado de tareas -->
    <div class="listado-tareas" *ngIf="tasks() && !isLoading()">
        <h2 class="titulo-listado">Tareas Registradas</h2>
        
        <!-- Ejemplo de tarjeta de tarea -->
        <div class="tarjeta-tarea" *ngFor="let task of tasks()">
            <div class="cabecera-tarjeta">
                <h3 class="titulo-tarea">{{task.title}}</h3>
                <span class="fecha-tarea">Fecha: {{task.due_date}}</span>
            </div>
            
            <p class="descripcion-tarea">{{task.description}}.</p>
            
            <div class="estado-tarea">
                <span>Estado:</span>
                    <select class="selector-estado">
                        <option value="{{task.status}}">{{task.status}}</option>
                    </select>
            </div>
            
            <div class="acciones-tarea">
                <button class="boton-editar" (click)="editTask(task.id)">Editar</button>
                <button class="boton-eliminar" (click)="delete(task.id)">Eliminar</button>
            </div>
        </div>
    </div>
</div>